* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px; /* Make the minimum font size 16px*/
  }
  
  body {
    font-family: 'Open Sans', sans-serif; /* Make the font Open Sans with a fallback of Sans Serif*/
  }
  
  .label {
    border: 2px solid black; /* Make a border of 2px solid black*/
    width: 270px; /* Make the width of 270px*/
    margin: 20px auto; /* Make the top and bottom margin 20px, left and right margin auto*/
    padding: 0 7px; /* Make the top and bottom padding 0px and the left and right padding 7px*/
  }
  
  h1{
    font-weight: 800; /* Set the font weight property to 800*/
  }