* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px; /* Make the minimum font size 16px*/
  }
  
  body {
    font-family: 'Open Sans', sans-serif; /* Make the font Open Sans with a fallback of Sans Serif*/
  }
  
  .label {
    border: 2px solid black; /* Make a border of 2px solid black*/
    width: 270px; /* Make the width of 270px*/
    margin: 20px auto; /* Make the top and bottom margin 20px, left and right margin auto*/
    padding: 0 7px; /* Make the top and bottom padding 0px and the left and right padding 7px*/
  }
  
  header h1{
    text-align: center; /* Aligns the text to the center */
    margin: -4px 0; /* Sets top and bottom margin to -4px and left and right margin of 0 */
    letter-spacing: 0.15px; /* Sets the letter spacing to 0.15px*/
  }

  p {
    margin: 0; /* Remove all the margins for p*/
    display: flex;
    justify-content: space-between; /* Adds horizontal space */
  }


.divider {
  border-bottom: 1px solid #888989; /* Puts a solid 1px line underneath the h1*/
  margin: 2px 0; /* Makes the margin top and bottom 2px and the left and right margin 0*/
}

.bold {
  font-weight: 800; /* Makes font weight 800*/
}

.large {
  height: 10px;
}

.large, .medium {
  background-color: black;
}
